<div id="creator_submit_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Design einreichen</h4>
      </div>
      <div class="modal-body">
        <p>
        Es gibt kein Zurück
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success creator-submit-yes">Einreichen!</button>
        <!--button type="button" class="btn btn-default creator-submit-no" data-dismiss="modal">Überarbeiten</button-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->