<div id="creator_submit_error_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Fabrik-Modell einreichen</h4>
      </div>
      <div class="modal-body">
        <p>Bitte lade mindestens ein Foto hoch und beschreibe dein Fabrik-Modell!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default creator-submit-no" data-dismiss="modal">Überarbeiten</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="creator_submit_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Fabrik-Modell einreichen</h4>
      </div>
      <div class="modal-body">
        <p>Fast fertig! Bist du mit du mit deiner Idee zufrieden? Hast du deinen Entwurf signiert? Sobald du auf Einreichen klickst, gibt es kein Zurück mehr. Dein Modell ist dann im Rennen und kann nicht mehr geändert werden. Viel Erfolg!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success creator-submit-yes">Einreichen!</button>
        <!--button type="button" class="btn btn-default creator-submit-no" data-dismiss="modal">Überarbeiten</button-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->