<div class="comments">

	<%= render 'comments/form_public' %>
	
	<% @comments.each do |comment| %>
		<% unless comment.hidden %>
		<div class="comment well-sm well">
			<q class=""><%= comment.content %></q>
			<div class="pull-righ author">
			<small class="username"><%= comment.username %></small>
			<small class="created_at">vor <%= time_ago_in_words(comment.created_at).sub(" eine "," einer ").sub(" Tage"," Tagen").sub("ein Tag","einem Tag") %></small>
			</div>
		</div>
		<% end %>
	<% end %>
	
	<!--button type="button" class="btn btn-default btn-lg btn-block">Alle Kommentare anzeigen</button-->
	
</div>