<div class="comments well">

	<%= render 'comments/form_public' %>
	
	<% @comments.each do |comment| %>
		<% unless comment.hidden %>
		<div class="clearfix comment">
			<q><%= comment.content %></q>
			<small class="pull-right username"><%= comment.username %></small>
			<small class="pull-right created_at"><%= l comment.created_at %></small>
			<hr>
		</div>
		<br>
		<% end %>
	<% end %>

</div>