
<div class="challenges row">
	<% @challenges.each do |challenge| %>
		<div class="col-lg-4 col-sm-4">
		<%= render partial: 'challenges/preview', locals: {challenge: challenge} %>
		</div>
	<% end %>
</div>

<%= link_to "Punkte Enlösen", highscores_path %>
