
<div class="challenges row">
	<% @challenges.each do |challenge| %>
		<div class="col-lg-4 col-sm-4">
		<%= render partial: 'challenges/preview', locals: {challenge: challenge} %>
		</div>
	<% end %>
</div>

<%= link_to "Punkte Enlösen", highscores_path %>

<address>
  <strong>Twitter, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>