<% @challenges.each do |challenge| %>

<h2><%= challenge.name %></h2>
<h3><%= challenge.time %></h3>
<p><%= challenge.description %></p>
<%= link_to "Link", controller: "challenges", action: "show_public", id: challenge %>

<% end %>

