
<div class="challenges row">

	<div class="col-lg-4 col-sm-4">
		<div class="preview-link preview card" data-url="<%= url_for controller: "pages", action: "show", id: "hilfe" %>">
			<div class="card-content">
				<% page = Page.find('willkommen') %>
				<%= render partial: 'pages/insert', locals: {page: page} %>
			</div>
		</div>
	</div>

	<% @challenges[0, 2].each do |challenge| %>
		<div class="col-lg-4 col-sm-4">
		<%= render partial: 'challenges/preview', locals: {challenge: challenge} %>		</div>
	<% end %>

</div>

<div class="challenges row">
<br/>
	<% @challenges[2, 3].each do |challenge| %>
		<div class="col-lg-4 col-sm-4">
		<%= render partial: 'challenges/preview', locals: {challenge: challenge} %>
		</div>
	<% end %>

</div>

<!--
<address>
  <strong>Twitter, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>
-->

<div class="overlay" style="position:fixed; background:#fff; background-image:url(assets/PIXEL.png); background-repeat:repeat-x; opacity:0.95; width:100%; height:100%; top:0; left:0; display:none">
</div>

<div class="hovershade" style="background:#000; opacity:0.5; display:none">
</div>