<div class="row">

	<div class="col-lg-6 claim_points">

		<%= render 'claim_form' %>
	
	</div>
	
	<div class="col-lg-6 highscore">

		<h1>Rangliste</h1>
		
		<table>
		  <tr>
			<th>Name</th>
			<th>Punkte</th>
		  </tr>
		
		<% @scores.each do |score| %>
		  <tr>
			<td><%= score.username %></td>
			<td><%= score.score %></td>
		  </tr>
		<% end %>
		</table>
		
	</div>

</div>