
<div class="row">
<div class="col-sm-8 col-md-8 col-lg-8 highscore">

		<%= render 'claim_form' %>
	
	</div>
	
</div>

<div class="row">
<br/>
<div class="col-sm-8 col-md-8 col-lg-8 highscore">

		<h2>Rangliste</h2>
		
		<table class="highscore-table table">
		  <tr>
			<th>Name</th>
			<th>Punkte</th>
		  </tr>
		
		<% @scores.each do |score| %>
		  <tr>
			<td><%= score.username %></td>
			<td><%= score.score %></td>
		  </tr>
		<% end %>
		</table>
		
	</div>

</div>