<div id="first_vote_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Du hast einen Entwurf bewertet. </h4>
      </div>
      <div class="modal-body">
        <p>
        Je besser ein Entwurf bewertet wurde, um so höher ist die Wahrscheinlichkeit, dass er realisiert wird. 
        <b>Die drei Entwürfe mit der höchsten Bewertung werden am <%= l final_date %> in der Dezentrale live zur Abstimmung gestellt.</b> 
        Du hast die Wahl! 
        Danach wird der Gewinnerentwurf dort gemeinsam verwirklicht. 
        </p>
        <p>
        Klicke auf ein Entwurskärtchen, um Dir in der Detailansicht einen genaueren Eindruck zu verschaffen.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Alles klar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->