/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= // require twitter/bootstrap
 *= require jquery-star-rating
 */

// BOOTSTRAP TESTS

// change colors
// $link-color: #E64A22;

// import original bootstrap
@import "twitter/bootstrap";

$link-color: #E64A22;
$font-family-base: 'Nixie One';

// END BOOTSTRAP TESTS

@import url(http://fonts.googleapis.com/css?family=Nixie+One|La+Belle+Aurore);
/*
font-family: 'Nixie One', cursive;
font-family: 'Flamenco', cursive;
*/
@font-face {
font-family: Neusa-Bold;
src: url("Neusa-Bold.otf") format("opentype");
}

@font-face {
font-family: Kankin;
src: url("Kankin.otf") format("opentype");
}

body {
	
	padding-top:0px;
	padding-bottom:10px;	
}

/*
*  {
	 font-family: 'Nixie One', sans-serif;
}
*/

h1 {
	font-family: 'Neusa-Bold', sans-serif;
	letter-spacing:0.1ex;
}

h2, h3, h4, 
h2 a, h3 a, h4 a 
{
	font-family: 'Kankin', sans-serif;
	color:black;
	/*letter-spacing:0.2ex;*/
}


.challenges .preview h2 {
	font-size:200%;
}


.challenges .preview h3 {
	font-size:123%%;
}

header {
	
}

.container-main {
	background-image:url(PIXEL.png);
	background-attachment:fixed;
	background-repeat:repeat-x;
	margin-top:-20px;
	padding-top:20px;
}

.navbar-brand {
	font-family: Kankin;
}

.navbar {
	background:white;
	color:black;
	opacity:0.8;
	box-shadow:         1px 1px 11px rgba(50, 50, 50, 0.76);
}

.navbar a, .navbar li a {
	color:black;
	opacity:1.0;
}

#progress {
	width: 100%;
	height: 90px;
	line-height: 90px;
	vertical-align: middle;
	background: lightgray;
	display:none;
}

.bar {
    height: 90px;
    background: green;
}

.preview-link {
	overflow:hidden;
	position:relative;
}



div.preview-link:hover {
	background-color: #fff;
	cursor: pointer;
}

.shade {
	z-index:111; 
	background:black; 
	opacity:0.8;
	border	:none;
	border-radius:10px;
	display:box; 
	position:absolute; 
	width:100%; 
	height:100%;
	visibility:hidden;
}	

.preview-link:hover .shade {
	visibility:visible;
}

.preview-link:hover .shade-highlight {
	position:relative;
	z-index:112; 
	color:white;
}

input.username {
    border:none; 
    box-shadow:none;
    font-size:20px;
    background-color:transparent;
    width:50%;
}

.comment-form input.username,
.claim-form input.username
{
	margin-top:10px;
    font-size:20px;
    margin-bottom:0px;
	border: solid black;
	border-width: 0 0 1px 0;
}

.claim-form input.username
{
	margin-top:0px;
}

.username-container {
	width:50%;
}


.username-container .username, .username-container label {
	width:100%;
}

.username-container .username {
	margin-bottom:0 !important;
}

.username-container label {
	display:block;
	border:0 solid black;
	border-width:1px 0 0 0;
	text-align:center;
	font-size:85%;
}

.username {
	font-family: 'La Belle Aurore', cursive;
}

.creator .username-container {
	margin-bottom:30px;
	margin-top:20px;
	width:36%;
}

.creator .username-container .typeahead-username-new, 
.creator .username-container .typeahead-username-old {
	margin:auto;
	margin-bottom:20px;
}


.tt-hint {
	border-bottom:0;
}

input.username:focus {
    outline: none;
}

img[src*=large], img[src*=medium], #media_link_preview iframe, .media_link, .media_link iframe {
	width: 100%;
	/*height:auto;*/
}

.image-preview {
	width: 25%;
	float: left;
}

.claim_points, .highscore, .static-section, .creator, .design {
	border-radius: 10px;
	box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.56);
	margin-bottom:10px;
	background-color:white;
	overflow:hidden;
}

.highscore .alert {
	clear:both;
	margin-top:20px;
	margin-bottom:0px;
}

.claim_points, .highscore {
	padding:0 20px 20px 20px;
}

.claim-form input.input-code {
	width:8em;
	text-transform:uppercase;
}

.claim-form .username-container {
	float:left;
	width:40%;
}

.claim-form .input-code-container,
.claim-form input[type=submit] {
	float:right;
	display:inline-block;
	vertical-align:bottom;
	margin-left:20px;
	position:relative;
	top:8px;
}

.challenges .preview, .designs .preview {
	box-shadow: 5px 5px 22px rgba(50, 50, 50, 0.76);
	margin-bottom:20px;
	padding:0px;
	background-color:white;
}

.designs .preview {
	margin-bottom:10px;
}

.designs .card-container {
	margin-bottom:20px;
}

.challenges .preview {
	border-radius: 10px;
}

.designs .preview  {
	border-radius: 10px;
}

.designs .create-design {
	border:dotted 5px #ddd;
	background-image:none !important;
}

.challenges .preview:active, .designs .preview:active  {
	box-shadow: 3px 3px 16px rgba(50, 50, 50, 0.76);
	position:relative;
	left:2px;
	top:2px;
}

.card > img:first-child {
	border-radius: 10px 10px 0 0;
	width:100%;
}

.card-content {
	padding:6%;
}

.creator.card-content, .design .card-content {
	padding:4%;
}

.label-new {
	font-size:60%;
	font-weight:bold;
}

.challenge + .comments {
	border:1px dotted black;
	border-width:1px 0 0 0;
}

.comments {
	padding:10px;
}

.comment {
	height:100%;
	overflow:visible;
	padding:10px 20px;
}

.comment:after {
	content: "";
	display:block;
	clear:both;
}

.comment q {
	letter-spacing:133%;
	display: block;
	border:solid #eee;
	border-width:0 0 1px 0;
	padding-bottom:5px;
	margin-bottom:5px;
	letter-spacing:0.2ex;
}

.comment small {
	/*display:block;*/
	color:#555;
}

.comment small.username {
	font-size:120%;
	margin-left:5%;
}

.typeahead-username-new, .typeahead-username-old {
	margin-top:20px;
	float:left;
	display:none;
}

.comment-form input[type=submit] {
	margin-top:20px;
}

.design .star-form , .deine_meinung{
	display: inline-block;
}

.design .card-content{
	padding-bottom:0; /* because of star-rating at the end */
}


.designs .preview {
	background-image:url(/assets/Papierbackground_small.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.design .main_image {
	margin-bottom:20px;
}
 
.design img.image-preview {
}

.arrow-navigation-fixed {
	position:fixed;
	top:45%;
}

.arrow-navigation-fixed.arrow-navigation-previous {
	left:0;
}

.arrow-navigation-fixed.arrow-navigation-next {
	right:0;
}

.creator-link {
/*	width:100%;
	margin-bottom:10px;
*/
}

.creator h2{
	margin-top:0px;
}

.creator, .design {
	background-image:url(/assets/Papierbackground_large.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.creator .directives {
	background-image: url("/assets/baustelle-y.jpg");
	background-repeat:repeat-y;
	background-position:0 0;
	background-size:25px 220px;
	padding-left:45px;
	border-width:1px 2px 2px 2px;
}


.creator input[type=text], .creator textarea, .creator .media-list {
	margin-bottom: 20px;
}

.creator .twitter-typeahead input {
	margin-bottom: 0px;
}

.creator input.username {
    font-size:25px;
}

.creator .media {
	margin-top:0;
}

.creator .media .form-border-fix {
	border:1px solid #ccc;
	border-width:1px 0 1px 1px;
}

.creator .media .media-body {
	background: transparent;
}

.creator #media_link_preview {
	margin-top:10px;
	width:100%;
	text-align:center;
	vertical-align:middle;
}

.creator #media_link_preview.processing, .creator #media_link_preview.failed {
	padding:30px;
	border:dotted 5px #ddd;
	color:#999;
}

.creator #media_link_preview.processing {
}

.creator #media_link_preview.failed {
}

.imageupload_button {
	border:dotted 5px #ddd;
	width:100%;
	height:90px;
	line-height: 85px;
	text-decoration:underline;
	text-align: center;
	vertical-align: middle;
	cursor:pointer;
}

.imageupload_button:hover {
	
}

.clear { clear:both; }

.navbar-toggle {
	border-color:#000;
	opacity:0.6;
	background-color:#eee;
}

.navbar-toggle .icon-bar{
	background-color:#000;
}

.image-preview {
	padding:0;
	border:none;
	border-radius:0;
	cursor:pointer;
	}

#imageModal .modal-body {
	padding:0;
}

#imageModal .modal-body p {
	padding:10px 20px 0px 20px;
	clear:both;
	font-weight:bold;
}

#imageModal .modal-footer {
	margin-top:0;
}
