/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */

@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore);

#progress {
	width: 200px;
	background: lightgray;
}

.bar {
    height: 18px;
    background: green;
}

div.preview-link {
	width: 400px;
}

div.preview-link:hover {
	background-color: #000;
	cursor: pointer;
}

input.username {
    border:none; 
    box-shadow:none;
    font-family: 'La Belle Aurore', cursive;
    font-size:20px;
}

input.username, tt-hint {
    font-family: 'La Belle Aurore', cursive;
    font-size:25px;
}

input.username:focus {
    border:none;
    outline: none;
}

img[src*=large], #media_link_preview iframe, .media_link, .media_link iframe {
	width: 100%;
	/*height:auto;*/
}

// change bootstrap variables below

// change colors
$link-color: green;

// import original bootstrap
@import "twitter/bootstrap";
