.designs .preview {
	border:1px solid black;
}

.challenge, .designs, .comments {
	border:solid 1px #ccc;
	margin-bottom:10px;
	padding:10px;
}

.media {
	padding:0;
}

.designs .preview .media-object {
	width:100px;
	height:100px;
}