.tt-dropdown-menu {
	display:none !important;
}

.twitter-typeahead {
	width:100%;
}

.creator .twitter-typeahead:after {
	display:block;
	content: "Unterschrift (Benutzername)";
	border:0 solid black;
	border-width:1px 0 0 0;
	width:33%;
	text-align:center;
	font-size:85%;
}

.twitter-typeahead .tt-hint {
	
}