<div>
<%= image_tag @image.image.url(:thumb) %>
description <%= text_field_tag "images[" + @image.id.to_s + "][description]" %>
main image? <%= radio_button_tag "design[main_image_id]", @image.id.to_s %> 
<a href="#" class="image_preview_delete" data-ajax-url="<%=url_for :controller=>'images', :action=>'destroy', :id=>@image.id %>">delete</a>
</div>
<br/>
